<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Country Management Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <div th:replace="fragments/SideBar :: sidebar"></div>

  <!-- ======= Main ======= -->
  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Blank</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">List of Clients</h5>
          <p class="card-text">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
              Add Client
            </button>
          </p>
          <!-- Default Table -->
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Name</th>
              <th>Website</th>
              <th>Email</th>
              <th>City</th>
              <th>Phone</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clients}">
              <td th:text="${client.name}">Name</td>
              <td th:text="${client.website}">Website</td>
              <td th:text="${client.email}">Email</td>
              <td th:text="${client.city}">City</td>
              <td th:text="${client.phone}">Phone</td>
              <td>
                <a th:href="@{/client/findById/(id=${client.id})}" class="btn btn-primary" id="editButton">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a th:href="@{/client/findById/(id=${client.id})}" class="btn btn-success" id="detailsButton">
                  <i class="bi bi-file-earmark-richtext"></i>
                </a>
                <a th:href="@{/client/delete/(id=${client.id})}" class="btn btn-danger" id="deleteButton">
                  <i class="bi bi-x-circle-fill"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX client form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- ======= Model ======= -->
  <div class="modal fade" id="addModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Client</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/client/add}" class="row g-3" method="post">
<!--            <div class="col-6">-->
<!--              <label for="idAdd" class="form-label">Id:</label>-->
<!--              <input type="text" class="form-control" id="idAdd" name="id" readonly>-->
<!--            </div>-->
            <div class="col-6">
              <label for="selectStateAdd" class="form-label">State/Province:</label>
              <select class="form-select" id="selectStateAdd" aria-label="Default select example" name="stateid" required>
                <option selected>-SELECT-</option>
                <option th:each="state : ${states}"
                        th:value="${state.id}"
                        th:text="${state.name}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="nameAdd" class="form-label">Name:</label>
              <input type="text" class="form-control" id="nameAdd" name="name" required>
            </div>
            <div class="col-6">
              <label for="selectCountryAdd" class="form-label">Country:</label>
              <select class="form-select" id="selectCountryAdd" aria-label="Default select example" name="countryid" required>
                <option selected>-SELECT-</option>
                <option th:each="country : ${countries}"
                        th:value="${country.id}"
                        th:text="${country.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="detailsAdd" class="form-label">Details:</label>
              <input type="text" class="form-control" id="detailsAdd" name="details" required>
            </div>
            <div class="col-6">
              <label for="cityAdd" class="form-label">City:</label>
              <input type="text" class="form-control" id="cityAdd" name="city" required>
            </div>
            <div class="col-6">
              <label for="websiteAdd" class="form-label">Website:</label>
              <input type="text" class="form-control" id="websiteAdd" name="website" required>
            </div>
            <div class="col-6">
              <label for="phoneAdd" class="form-label">Phone:</label>
              <input type="text" class="form-control" id="phoneAdd" name="phone" required>
            </div>
            <div class="col-6">
              <label for="addressAdd" class="form-label">Address:</label>
              <input type="text" class="form-control" id="addressAdd" name="address" required>
            </div>
            <div class="col-6">
              <label for="mobileAdd" class="form-label">Mobile:</label>
              <input type="text" class="form-control" id="mobileAdd" name="mobile" required>
            </div>
            <div class="col-6">
              <label for="emailAdd" class="form-label">Email:</label>
              <input type="text" class="form-control" id="emailAdd" name="email" required>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </form><!-- Vertical Form -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Client</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/client/update}" class="row g-3" method="put">
            <div class="col-6">
              <label for="idEdit" class="form-label">Id:</label>
              <input type="text" class="form-control" id="idEdit" name="id" readonly>
            </div>
            <div class="col-6">
              <label for="selectStateEdit" class="form-label">State/Province:</label>
              <select class="form-select" id="selectStateEdit" aria-label="Default select example" name="stateid" required>
                <option selected>-SELECT-</option>
                <option th:each="state : ${states}"
                        th:value="${state.id}"
                        th:text="${state.name}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="nameEdit" class="form-label">Name:</label>
              <input type="text" class="form-control" id="nameEdit" name="name" required>
            </div>
            <div class="col-6">
              <label for="selectCountryEdit" class="form-label">Country:</label>
              <select class="form-select" id="selectCountryEdit" aria-label="Default select example" name="countryid" required>
                <option selected>-SELECT-</option>
                <option th:each="country : ${countries}"
                        th:value="${country.id}"
                        th:text="${country.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="detailsEdit" class="form-label">Details:</label>
              <input type="text" class="form-control" id="detailsEdit" name="details" required>
            </div>
            <div class="col-6">
              <label for="cityEdit" class="form-label">City:</label>
              <input type="text" class="form-control" id="cityEdit" name="city" required>
            </div>
            <div class="col-6">
              <label for="websiteEdit" class="form-label">Website:</label>
              <input type="text" class="form-control" id="websiteEdit" name="website" required>
            </div>
            <div class="col-6">
              <label for="phoneEdit" class="form-label">Phone:</label>
              <input type="text" class="form-control" id="phoneEdit" name="phone" required>
            </div>
            <div class="col-6">
              <label for="addressEdit" class="form-label">Address:</label>
              <input type="text" class="form-control" id="addressEdit" name="address" required>
            </div>
            <div class="col-6">
              <label for="mobileEdit" class="form-label">Mobile:</label>
              <input type="text" class="form-control" id="mobileEdit" name="mobile" required>
            </div>
            <div class="col-6">
              <label for="emailEdit" class="form-label">Email:</label>
              <input type="text" class="form-control" id="emailEdit" name="email" required>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </form><!-- Vertical Form -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="detailsModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Client Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/client/update}" class="row g-3" method="put">
            <div class="col-6">
              <label for="idDetails" class="form-label">Id:</label>
              <input type="text" class="form-control" id="idDetails" name="id" readonly>
            </div>
            <div class="col-6">
              <label for="selectStateDetails" class="form-label">State/Province:</label>
              <select class="form-select" id="selectStateDetails" aria-label="Default select example" name="stateid" required>
                <option selected>-SELECT-</option>
                <option th:each="state : ${states}"
                        th:value="${state.id}"
                        th:text="${state.name}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="nameDetails" class="form-label">Name:</label>
              <input type="text" class="form-control" id="nameDetails" name="name" required>
            </div>
            <div class="col-6">
              <label for="selectCountryDetails" class="form-label">Country:</label>
              <select class="form-select" id="selectCountryDetails" aria-label="Default select example" name="countryid" required>
                <option selected>-SELECT-</option>
                <option th:each="country : ${countries}"
                        th:value="${country.id}"
                        th:text="${country.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="details" class="form-label">Details:</label>
              <input type="text" class="form-control" id="details" name="details" required>
            </div>
            <div class="col-6">
              <label for="cityDetails" class="form-label">City:</label>
              <input type="text" class="form-control" id="cityDetails" name="city" required>
            </div>
            <div class="col-6">
              <label for="websiteDetails" class="form-label">Website:</label>
              <input type="text" class="form-control" id="websiteDetails" name="website" required>
            </div>
            <div class="col-6">
              <label for="phoneDetails" class="form-label">Phone:</label>
              <input type="text" class="form-control" id="phoneDetails" name="phone" required>
            </div>
            <div class="col-6">
              <label for="addressDetails" class="form-label">Address:</label>
              <input type="text" class="form-control" id="addressDetails" name="address" required>
            </div>
            <div class="col-6">
              <label for="mobileDetails" class="form-label">Mobile:</label>
              <input type="text" class="form-control" id="mobileDetails" name="mobile" required>
            </div>
            <div class="col-6">
              <label for="emailDetails" class="form-label">Email:</label>
              <input type="text" class="form-control" id="emailDetails" name="email" required>
            </div>
          </form><!-- Vertical Form -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this record?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" id="confirmDeleteButton">Yes, Delete</a>
        </div>
      </div>
    </div>
  </div>

  <script src="assets/js/jquery-3.6.0.min.js"></script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/client.js"></script>

</body>

</html>