<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Country Management Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="assets/users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="assets/users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="assets/pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <div th:replace="fragments/SideBar :: sidebar"></div>

  <!-- ======= Main ======= -->
  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Blank</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">List of Vehicles</h5>
          <p class="card-text">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
              Add Vehicle
            </button>
          </p>
          <!-- Default Table -->
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Description</th>
              <th>Acquisition Date</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vehicle : ${vehicles}">
              <td th:text="${vehicle.id}">Id</td>
              <td th:text="${vehicle.name}">Name</td>
              <td th:text="${vehicle.description}">Description</td>
              <td th:text="${vehicle.city}">Acquisition Date</td>
              <td>
                <a th:href="@{/vehicle/findById/(id=${vehicle.id})}" class="btn btn-primary" id="editButton">
                  <i class="bi bi-pencil-square"></i>
                </a>
                <a th:href="@{/vehicle/findById/(id=${vehicle.id})}" class="btn btn-success" id="detailsButton">
                  <i class="bi bi-file-earmark-richtext"></i>
                </a>
                <a th:href="@{/vehicle/delete/(id=${vehicle.id})}" class="btn btn-danger" id="deleteButton">
                  <i class="bi bi-x-circle-fill"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- ======= Model ======= -->
  <div class="modal fade" id="addModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Vehicle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/vehicle/add}" class="row g-3" method="post">
            <div class="col-6">
              <label for="selectVehicleTypeAdd" class="form-label">Vehicle Type:</label>
              <select class="form-select" id="selectVehicleTypeAdd" aria-label="Default select example" name="vehicletypeid" required>
                <option selected>-SELECT-</option>
                <option th:each="vehicleType : ${vehicleTypes}"
                        th:value="${vehicleType.id}"
                        th:text="${vehicleType.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="vehicleNameAdd" class="form-label">Vehicle Name:</label>
              <input type="text" class="form-control" id="vehicleNameAdd" name="name" required>
            </div>
            <div class="col-6">
              <label for="vehicleNumberAdd" class="form-label">Vehicle Number:</label>
              <input type="text" class="form-control" id="vehicleNumberAdd" name="vehicleNumber" required>
            </div>
            <div class="col-6">
              <label for="registrationDateAdd" class="form-label">Registration Date:</label>
              <input type="date" class="form-control" id="registrationDateAdd" name="registrationDate" required>
            </div>
            <div class="col-6">
              <label for="descriptionAdd" class="form-label">Description:</label>
              <input type="text" class="form-control" id="descriptionAdd" name="description" required>
            </div>
            <div class="col-6">
              <label for="acquisitionDateAdd" class="form-label">Acquisition Date:</label>
              <input type="date" class="form-control" id="acquisitionDateAdd" name="acquisitionDate" required>
            </div>
            <div class="col-6">
              <label for="selectVehicleMakeAdd" class="form-label">Vehicle Make:</label>
              <select class="form-select" id="selectVehicleMakeAdd" aria-label="Default select example" name="vehiclemakeid" required>
                <option selected>-SELECT-</option>
                <option th:each="vehicleMake : ${vehicleMakes}"
                        th:value="${vehicleMake.id}"
                        th:text="${vehicleMake.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="selectVehicleModelAdd" class="form-label">Vehicle Model:</label>
              <select class="form-select" id="selectVehicleModelAdd" aria-label="Default select example" name="vehiclemodelid" required>
                <option selected>-SELECT-</option>
                <option th:each="vehicleModel : ${vehicleModels}"
                        th:value="${vehicleModel.id}"
                        th:text="${vehicleModel.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="selectCurrentLocationAdd" class="form-label">Current Location:</label>
              <select class="form-select" id="selectCurrentLocationAdd" aria-label="Default select example" name="locationid" required>
                <option selected>-SELECT-</option>
                <option th:each="location : ${locations}"
                        th:value="${location.id}"
                        th:text="${location.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="powerAdd" class="form-label">Power:</label>
              <input type="text" class="form-control" id="powerAdd" name="power" required>
            </div>
            <div class="col-6">
              <label for="fuelCapacityAdd" class="form-label">Fuel Capacity:</label>
              <input type="text" class="form-control" id="fuelCapacityAdd" name="fuelCapacity" required>
            </div>
            <div class="col-6">
              <label for="netWeightAdd" class="form-label">Net Weight:</label>
              <input type="text" class="form-control" id="netWeightAdd" name="netWeight" required>
            </div>
            <div class="col-6">
              <label for="remarksAdd" class="form-label">Remarks:</label>
              <textarea type="text" class="form-control" id="remarksAdd" name="remarks" rows="2" required></textarea>
            </div>
            <div class="col-6">
              <label for="selectEmployeeAdd" class="form-label">In Charge:</label>
              <select class="form-select" id="selectEmployeeAdd" aria-label="Default select example" name="employeeid" required>
                <option selected>-SELECT-</option>
                <option th:each="employee : ${employees}"
                        th:value="${employee.id}"
                        th:text="${employee.firstname}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="selectCurrentStatusAdd" class="form-label">Current Status:</label>
              <select class="form-select" id="selectCurrentStatusAdd" aria-label="Default select example" name="vehiclestatusid" required>
                <option selected>-SELECT-</option>
                <option th:each="vehicleStatus : ${vehicleStatuses}"
                        th:value="${vehicleStatus.id}"
                        th:text="${vehicleStatus.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="flpImageAdd" class="form-label">Select Image:</label>
              <input type="file" class="form-control" id="flpImageAdd" name="photo" required>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </form><!-- Vertical Form -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Vehicle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/vehicle/update}" class="row g-3" method="put">
            <div class="col-6">
              <label for="selectVehicleTypeEdit" class="form-label">Vehicle Type:</label>
              <select class="form-select" id="selectVehicleTypeEdit" aria-label="Default select example" name="vehicletypeid" required>
                <option selected>-SELECT-</option>
                <option th:each="vehicleType : ${vehicleTypes}"
                        th:value="${vehicleType.id}"
                        th:text="${vehicleType.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="vehicleNameEdit" class="form-label">Vehicle Name:</label>
              <input type="text" class="form-control" id="vehicleNameEdit" name="name" required>
            </div>
            <div class="col-6">
              <label for="vehicleNumberEdit" class="form-label">Vehicle Number:</label>
              <input type="text" class="form-control" id="vehicleNumberEdit" name="vehicleNumber" required>
            </div>
            <div class="col-6">
              <label for="registrationDateEdit" class="form-label">Registration Date:</label>
              <input type="date" class="form-control" id="registrationDateEdit" name="registrationDate" required>
            </div>
            <div class="col-6">
              <label for="descriptionEdit" class="form-label">Description:</label>
              <input type="text" class="form-control" id="descriptionEdit" name="description" required>
            </div>
            <div class="col-6">
              <label for="acquisitionDateEdit" class="form-label">Acquisition Date:</label>
              <input type="date" class="form-control" id="acquisitionDateEdit" name="acquisitionDate" required>
            </div>
            <div class="col-6">
              <label for="selectVehicleMakeEdit" class="form-label">Vehicle Make:</label>
              <select class="form-select" id="selectVehicleMakeEdit" aria-label="Default select example" name="vehiclemakeid" required>
                <option selected>-SELECT-</option>
                <option th:each="vehicleMake : ${vehicleMakes}"
                        th:value="${vehicleMake.id}"
                        th:text="${vehicleMake.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="selectVehicleModelEdit" class="form-label">Vehicle Model:</label>
              <select class="form-select" id="selectVehicleModelEdit" aria-label="Default select example" name="vehiclemodelid" required>
                <option selected>-SELECT-</option>
                <option th:each="vehicleModel : ${vehicleModels}"
                        th:value="${vehicleModel.id}"
                        th:text="${vehicleModel.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="selectCurrentLocationEdit" class="form-label">Current Location:</label>
              <select class="form-select" id="selectCurrentLocationEdit" aria-label="Default select example" name="locationid" required>
                <option selected>-SELECT-</option>
                <option th:each="location : ${locations}"
                        th:value="${location.id}"
                        th:text="${location.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="powerEdit" class="form-label">Power:</label>
              <input type="text" class="form-control" id="powerEdit" name="power" required>
            </div>
            <div class="col-6">
              <label for="fuelCapacityEdit" class="form-label">Fuel Capacity:</label>
              <input type="text" class="form-control" id="fuelCapacityEdit" name="fuelCapacity" required>
            </div>
            <div class="col-6">
              <label for="netWeightEdit" class="form-label">Net Weight:</label>
              <input type="text" class="form-control" id="netWeightEdit" name="netWeight" required>
            </div>
            <div class="col-6">
              <label for="remarksEdit" class="form-label">Remarks:</label>
              <textarea type="text" class="form-control" id="remarksEdit" name="remarks" rows="2" required></textarea>
            </div>
            <div class="col-6">
              <label for="selectEmployeeEdit" class="form-label">In Charge:</label>
              <select class="form-select" id="selectEmployeeEdit" aria-label="Default select example" name="employeeid" required>
                <option selected>-SELECT-</option>
                <option th:each="employee : ${employees}"
                        th:value="${employee.id}"
                        th:text="${employee.firstname}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="selectCurrentStatusEdit" class="form-label">Current Status:</label>
              <select class="form-select" id="selectCurrentStatusEdit" aria-label="Default select example" name="vehiclestatusid" required>
                <option selected>-SELECT-</option>
                <option th:each="vehicleStatus : ${vehicleStatuses}"
                        th:value="${vehicleStatus.id}"
                        th:text="${vehicleStatus.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="flpImageEdit" class="form-label">Select Image:</label>
              <input type="file" class="form-control" id="flpImageEdit" name="photo" required>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
          </form><!-- Vertical Form -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="detailsModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Vehicle Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/vehicle/update}" class="row g-3" method="put">
            <div class="col-6">
              <label for="selectVehicleTypeDetails" class="form-label">Vehicle Type:</label>
              <select class="form-select" id="selectVehicleTypeDetails" aria-label="Default select example" name="vehicletypeid" required>
                <option selected>-SELECT-</option>
                <option th:each="vehicleType : ${vehicleTypes}"
                        th:value="${vehicleType.id}"
                        th:text="${vehicleType.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="vehicleNameDetails" class="form-label">Vehicle Name:</label>
              <input type="text" class="form-control" id="vehicleNameDetails" name="name" required>
            </div>
            <div class="col-6">
              <label for="vehicleNumberDetails" class="form-label">Vehicle Number:</label>
              <input type="text" class="form-control" id="vehicleNumberDetails" name="vehicleNumber" required>
            </div>
            <div class="col-6">
              <label for="registrationDateDetails" class="form-label">Registration Date:</label>
              <input type="date" class="form-control" id="registrationDateDetails" name="registrationDate" required>
            </div>
            <div class="col-6">
              <label for="descriptionDetails" class="form-label">Description:</label>
              <input type="text" class="form-control" id="descriptionDetails" name="description" required>
            </div>
            <div class="col-6">
              <label for="acquisitionDateDetails" class="form-label">Acquisition Date:</label>
              <input type="date" class="form-control" id="acquisitionDateDetails" name="acquisitionDate" required>
            </div>
            <div class="col-6">
              <label for="selectVehicleMakeDetails" class="form-label">Vehicle Make:</label>
              <select class="form-select" id="selectVehicleMakeDetails" aria-label="Default select example" name="vehiclemakeid" required>
                <option selected>-SELECT-</option>
                <option th:each="vehicleMake : ${vehicleMakes}"
                        th:value="${vehicleMake.id}"
                        th:text="${vehicleMake.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="selectVehicleModelDetails" class="form-label">Vehicle Model:</label>
              <select class="form-select" id="selectVehicleModelDetails" aria-label="Default select example" name="vehiclemodelid" required>
                <option selected>-SELECT-</option>
                <option th:each="vehicleModel : ${vehicleModels}"
                        th:value="${vehicleModel.id}"
                        th:text="${vehicleModel.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="selectCurrentLocationDetails" class="form-label">Current Location:</label>
              <select class="form-select" id="selectCurrentLocationDetails" aria-label="Default select example" name="locationid" required>
                <option selected>-SELECT-</option>
                <option th:each="location : ${locations}"
                        th:value="${location.id}"
                        th:text="${location.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="powerDetails" class="form-label">Power:</label>
              <input type="text" class="form-control" id="powerDetails" name="power" required>
            </div>
            <div class="col-6">
              <label for="fuelCapacityDetails" class="form-label">Fuel Capacity:</label>
              <input type="text" class="form-control" id="fuelCapacityDetails" name="fuelCapacity" required>
            </div>
            <div class="col-6">
              <label for="netWeightDetails" class="form-label">Net Weight:</label>
              <input type="text" class="form-control" id="netWeightDetails" name="netWeight" required>
            </div>
            <div class="col-6">
              <label for="remarksDetails" class="form-label">Remarks:</label>
              <textarea type="text" class="form-control" id="remarksDetails" name="remarks" rows="2" required></textarea>
            </div>
            <div class="col-6">
              <label for="selectEmployeeDetails" class="form-label">In Charge:</label>
              <select class="form-select" id="selectEmployeeDetails" aria-label="Default select example" name="employeeid" required>
                <option selected>-SELECT-</option>
                <option th:each="employee : ${employees}"
                        th:value="${employee.id}"
                        th:text="${employee.firstname}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="selectCurrentStatusDetails" class="form-label">Current Status:</label>
              <select class="form-select" id="selectCurrentStatusDetails" aria-label="Default select example" name="vehiclestatusid" required>
                <option selected>-SELECT-</option>
                <option th:each="vehicleStatus : ${vehicleStatuses}"
                        th:value="${vehicleStatus.id}"
                        th:text="${vehicleStatus.description}"
                ></option>
              </select>
            </div>
            <div class="col-6">
              <label for="flpImageDetails" class="form-label">Select Image:</label>
              <input type="file" class="form-control" id="flpImageDetails" name="photo" required>
            </div>
          </form><!-- Vertical Form -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this record?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" id="confirmDeleteButton">Yes, Delete</a>
        </div>
      </div>
    </div>
  </div>

  <script src="assets/js/jquery-3.6.0.min.js"></script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/vehicle.js"></script>

</body>

</html>